body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    letter-spacing: 3%;
}
.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 2%;
}
.navigation-list-link:hover,
.navigation-list-link:focus {
    color: #2196F3;
}
.email-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 2%;
}
.email-link:hover {
    color: #2196F3;
}
.tel-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 2%; 
}
.tel-link:hover {
    color:#757575;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 6%;
    /*color: #FFFFFF;*/
}
.title-btn {
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 6%;
    color: #FFFFFF;
}